PhoneCallManager/DTD/calls.dtd

<!ELEMENT calls (call*)>
<!ELEMENT call (length,callee,destination,direction,dateTime,note)>
<!ATTLIST call cid CDATA #REQUIRED>
<!ELEMENT length (#PCDATA)>
<!ELEMENT callee (#PCDATA)>
<!ELEMENT destination (#PCDATA)>
<!ELEMENT direction (#PCDATA)>
<!ELEMENT dateTime (#PCDATA)>
<!ELEMENT note (#PCDATA)>
