PhoneCallManager/DTD/messages.dtd

<!ELEMENT messages (message*)>
<!ELEMENT message (length,callee,destination,direction,dateTime,note)>
<!ATTLIST message mid CDATA #REQUIRED>
<!ELEMENT length (#PCDATA)>
<!ELEMENT callee (#PCDATA)>
<!ELEMENT destination (#PCDATA)>
<!ELEMENT direction (#PCDATA)>
<!ELEMENT dateTime (#PCDATA)>
<!ELEMENT note (#PCDATA)>
